.buttonSr {
 border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    transition: all 0.5s;
    /* cursor: pointer; */
    margin-left: 5px;
    
}
.searchtxtBox {
        border-color: pink;
}

.buttonSr span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#searchBtn.buttonSr {
width:90px;
}
#searchBtn.buttonSr span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#searchBtn.buttonSr:hover span {
  padding-right: 25px;
}

#searchBtn.buttonSr:hover span:after {
  opacity: 1;
  right: 0;
}

.spacing {
    margin-right: 20px;
    margin-top: 10px;
    background: #f4511e;
}
.addBtns {
    padding: 5px;
    transition:All 0s;
    margin-left: 0px; 
    margin-top:20px;
}


.addBtnContainer {
    float:left;
}
    .addBtns:hover {
        color: #f4511e !important;
        background-color: #fff !important;
        transition:All 0s;
    }
#titleDiv,form  {
      max-width: 40em;
    margin: 0 auto;
}


  
 .shaking:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

 @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

