
<div   *ngIf="groups?.length > 0" [@myAnimation1] id="groupsDd">
    
    <h3 class="componentHeader" *ngIf="!filterStr"><span class="label label-info">Groups</span></h3>
    <div class="containerDivv" id="containerDivv1">
        
        <div *ngFor="let t of groups" class="searchUser rain searchUserInGroup" [id]="t.id">
            <button 
                    mwlConfirmationPopover
                    [title]="title"
                    [message]="message"
                    [confirmText]="confirmText"
                    [cancelText]="cancelText"
                    [placement]="placement"
                    (confirm)="removeGroup($event,t.id)"                   
                    confirmButtonType="danger"
                    cancelButtonType="default"
                    [appendToBody]="true"
                    class="glyphicon glyphicon-remove-sign removeFromGroup" title="Remove Group" >
               
            </button>           
            <div class="topp" [ngStyle]="{'background': 'url(../assets/img/' + t.logo + ') no-repeat'}">
                <div class="wrapper">
                    <h5 class="heading">{{t.name}}</h5>
                    <h5 class="location">({{t.memberCount}}) members</h5>
                    <p class="temp">
                        <a (click)="openDetails(t)" class="smallLink">details</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 *ngIf="groups?.length == 0 && !filterStr" class="componentHeader">No Talent Groups for now :( </h1>
<app-group-details #groupDetails *ngIf="_talentSrv.storage && selectedGroup"  [group]="selectedGroup"></app-group-details>