<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/talents']" class="smallLink2">All Talents</a></li>
                <li><a [routerLink]="['/groups']" class="smallLink2">All Groups</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="upperSide">
    <app-quick-search></app-quick-search>

    <app-add-group></app-add-group>
    <app-add-talent></app-add-talent>
</div>
<div class="routerDiv">
    <router-outlet></router-outlet>
</div>
