
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <h3 id="titleTheySaid">They said about talent expats ..</h3>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h4><strong>Talent Expats</strong> let me know how much I love acting!"<br><span style="font-style:normal;">Anna Hathaway</span></h4>
        </div>
        <div class="item">
            <h4>"If you can do what you do best and be happy, you're further along in life than most people.<strong>Talent Expats</strong> gave me what I dreamt of!!"<br><span style="font-style:normal;">Leonardo Dicaprio</span></h4>
        </div>
        <div class="item">
            <h4>"Where ever I am I always find myself looking out the window wishing I join <strong>Talent Expats</strong>.<br><span style="font-style:normal;">Angelina Jolie</span></h4>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>